.ripple-effect {
    animation: ripple-animation 1.5s infinite;
    box-shadow: inset;
}

@keyframes ripple-animation {
    0% {
        box-shadow:  0 0 1px rgba(139,84,255, 0.5),
                    0 0 0 2px rgba(139,84,255, 0.5),
                    0 0 0 3px rgba(139,84,255, 0.5);
      }
      100% {
        box-shadow: 0 0 0 1px rgba(139,84,255, 0.2),
                    0 0 0 1rem rgba(255,255,255, 0.2),
                    0 0 0 2px rgba(255,255,255, 0);
      }
}