@keyframes moveLeftToRight {
    0% {
      transform: translateX(-0%);
    }
    50% {
      transform: translateX(15%);
    }
    100% {
      transform: translateX(-0%);
    }
  }
  
  @keyframes moveRightToLeft {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(-15%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  .move-left-to-right {
    animation: moveLeftToRight 20s linear infinite;
  }
  
  .move-right-to-left {
    animation: moveRightToLeft 20s linear infinite;
  }